.toolbar{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 10vh;
    
}

#title{
    margin-right: 10px;
}

a{
    margin-left: 10px;
}

a:hover{
    color:lavender;
}

button{
    float: right;
    text-align: right;
}