.toolbar{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 10vh;
    
}

#title{
    margin-right: 10px;
}

a{
    margin-left: 10px;
    color:#ae4cd8;
    text-decoration: none;
}

a:hover{
    color:lavender;
}

button{
   margin-left: auto;
   margin-right: 15px;
}