.home{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: center;
    text-align: center;
    width: auto;
    margin-top: 60px;
}

h2{
   padding: 15px;
}

img{
    width:auto;
    height: 50vh;
}